footer {
  background-color: lightblue;
  padding: 50px; }

.imgFoo {
  height: 30px; }

h2 {
  padding: 20px; }

header {
  background-color: lightblue; }
  header div {
    display: flex;
    justify-content: flex-start; }
    header div a img {
      height: 190px;
      padding: 10px; }

.imgSec {
  height: 400px;
  width: 100%;
  padding-top: 30px; }

.imgIndex {
  height: 600px;
  width: 100%;
  padding: 10px; }

.imgAtencion {
  height: 500px;
  width: 100%;
  padding: 10px; }

.imgMarcas {
  height: 50px; }

.listaAtencion {
  height: 30px; }

.imgContacto {
  height: 400px;
  width: 100%;
  padding: 10px; }

.flechaRedes {
  height: 50px; }

.imgNosotros {
  height: 500px;
  padding-bottom: 20px; }

.imgGrandeNosotros {
  height: 400px;
  width: 100%;
  padding: 30px; }

.mixinFooter {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.textoIndex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

h1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white; }

.textoAtencion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.textContacto {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.formuContacto {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.imgNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.mainNosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.boton, .boton-aceptar {
  width: 82px;
  height: 40px;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px; }

.boton-aceptar {
  padding: 5px;
  width: 70px; }

main {
  padding-bottom: 30px; }

.mainNosotros {
  padding: 10px; }

h4 {
  padding: 10px; }

.imgIndex {
  height: 600px; }
  .imgIndex:hover {
    height: 595px; }

.imgSec {
  height: 400px; }
  .imgSec:hover {
    height: 395px; }

.animNav {
  color: black; }
  .animNav:hover {
    color: blue; }

h1 {
  color: white; }
  h1:hover {
    color: black; }

li {
  color: black; }
  li:hover {
    color: white; }

.imgContacto {
  height: 400px; }
  .imgContacto:hover {
    height: 395px; }

.imgGrandeNosotros {
  height: 400px; }
  .imgGrandeNosotros:hover {
    height: 395px; }

* {
  padding: 0;
  margin: 0; }

li {
  list-style: none;
  padding: 15px; }

a {
  text-decoration: none; }

.gridNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.gridMain {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "encabezado encabezado encabezado" "imgNosotros txtNosotros txtNosotros" "imgMainPrimaria imgMainSecundaria imgMainTerciaria"; }

.encabezado {
  grid-area: encabezado; }

.imgNosotros {
  grid-area: imgNosotros; }

.txtNosotros {
  grid-area: txtNosotros; }

.imgMainPrimaria {
  grid-area: imgMainPrimaria; }

.imgMainSecundaria {
  grid-area: imgMainSecundaria; }

.imgMainTerciaria {
  grid-area: imgMainTerciaria; }

header {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.txtNosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }

@media screen and (max-width: 1024px) {
  header {
    flex-direction: column; }
  footer {
    flex-direction: column;
    align-items: center; }
  footer div {
    padding: 10px; }
  .gridMain {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "encabezado" "imgNosotros" "txtNosotros" "imgMainPrimaria" "imgMainSecundaria" "imgMainTerciaria"; }
  .encabezado {
    grid-area: encabezado; }
  .imgNosotros {
    grid-area: imgNosotros; }
  .txtNosotros div {
    grid-area: txtNosotros;
    padding: 10px; }
  .imgMainPrimaria {
    grid-area: imgMainPrimaria; }
  .imgMainSecundaria {
    grid-area: imgMainSecundaria; }
  .imgMainTerciaria {
    grid-area: imgMainTerciaria; } }
