header{display: flex; justify-content: flex-start; align-items: center;}
.txtNosotros{display: flex; flex-direction: column; justify-content:space-around; align-items: center; padding: 20px;}
footer{display: flex; flex-direction: row; justify-content: space-around; align-items:flex-start;}
